
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: bold;
	src: local('PT Sans Bold'), url('PTSans-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	src: local('PT Sans Narrow Bold'), url('PTSans-NarrowBold.woff2') format('woff2');
}